---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Hero from '../../components/Hero.astro';
import ProjectsGrid from '../../components/ProjectsGrid.astro';
import Footer from '../../components/Footer.astro';
import FilterScript from '../../components/FilterScript.astro';
import BackdropLayer from '../../components/BackdropLayer.astro';
---

<Layout title="ImStryker - Web Design & Neuromarketing Portfolio" lang="en">
  <Header lang="en" />
  
  <main>
    <Hero lang="en" />
    <ProjectsGrid lang="en" />
  </main>
  
  <Footer lang="en" />
  
  <FilterScript />
</Layout>